.covid-19-banner {
  background-color: green;
  color: white;
  padding: 10px;
  position: sticky;
  top: 0;
  z-index: 2001;

  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
    justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
    align-items: center;
}

.covid-19-banner.kits-unavailable {
  background-color: red;
}

.covid-19-banner__title {
  font-weight: normal;
  margin: 0;
  line-height: 1.2;
  font-size: 110%;
}

.covid-19-banner__title strong { font-weight: bold; }

.covid-19-banner__icon {
  margin-right: 1em;
}
.covid-19-banner__icon svg {
  width: auto;
  max-width: none;
  height: 100%;
  max-height: 32px;
}

.covid-19-banner .btn,
.covid-19-banner .button {
  margin-left: 1em;
  color: white;
  border-color: white;
  background-color: inherit;
  text-transform: uppercase;
}

@media screen and (min-width: 769px) {
  .covid-19-banner__title { font-size: 150%; }
}

@media screen and (min-width: 992px) {
  .covid-19-banner__title { font-size: 180%; }
}
